<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Konviv App</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" type="text/css" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <style>
        .back {
            font-size: 18px;
            text-decoration: none!important;
            color: #444;
            text-shadow: 0 0 10px rgba(0,0,0,0.3);
            letter-spacing:1px;
        }
    </style>

    <body>
        <div id="banner">
            <h1> K O N V I V </h1>
            <p id="intro"> </p>
        </div>
        <div class ="box">

            <div class="head">
                <h1 id= "page title"> </h1>
            </div>
            <p><a class="back" href="/index.ejs">< Back</a></p> <br><br>

            <div id="get-button-data"></div>

            <div class="template">
                <h1 Id ="Bucket Name" style="font-size:45px;">Edit Bucket</h1>

                <input id="editName" placeholder="New Bucket Name" />
                <button id="btnName" class="btn btn-secondary btn-block btn-large">Edit Name</button>
                <br/>
                <input id="editSizeAmount" placeholder="Bucket Amount to Move" />
                <br/>
                <input id="editSizeBucket" placeholder="New Bucket for Amount" />
                <button id="btnSize" class="btn btn-secondary btn-block btn-large">Edit Size</button>
                <br/>
                <input id="moveTransactionName" placeholder="Transaction to Move" />
                <br/>
                <input id="moveTransactionBucket" placeholder="New Bucket to Move Transaction" />
                <button id="btnMove" class="btn btn-secondary btn-block btn-large">Move Transaction</button>
                <br/>

                <div id='get-button-data'> </div>
                <br /><br /><br /><br /><br /><br /><br /><br />
                  <div style="margin-top:300px; text-align:center; margin:10px 5px; font-color: #fff"><p style="font-size:14px; color:#DDD;">Konviv uses a secure connection and 256-bit encryption just like your bank!</p></div>
            </div>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            if (sessionStorage.token && sessionStorage.bucketPage) {
                console.log("bucket page loaded for " + sessionStorage.bucketPage );
            } else {
                location.href="/login.ejs";
            }

            var selector = "[id='page title']";

            $(selector).text("Edit "  + sessionStorage.getItem("bucketPage") + " Bucket").end();

        function get_details(){
           console.log(bucket_name)
           //modal.style.display = "block";
           $.post('/get_info',{
               which_bucket:sessionStorage.getItem("bucketPage"),
               token: sessionStorage.token
           });
        }

         function rename_bucket(){
           console.log(bucket_name)
           //modal.style.display = "block";
           $.post('/rename_bucket',{
               which_bucket:sessionStorage.getItem("bucketPage"),
               new_name:editName.value,
               token: sessionStorage.token
           });
        }
         function change_size(){
            $.post('/change_size',{
                amount:editSizeAmount.value,
                from_bucket:sessionStorage.getItem("bucketPage"),
                to_bucket:editSizeBucket.value
                token: sessionStorage.token
            })
         }
        btnName.addEventListener('click', e => {
            var errorCode = null;
            var errorMsg = null;

            //Sign up
            $(function () {

            });
       });
   });
    </script>
</body>
</html>
