<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Konviv App</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Archivo:400,500,600,700" rel="stylesheet">

        <style>

        .btn {
    background-color: #fba40c;
    background-image: -webkit-linear-gradient(top, #fba40c, #ffb606);
    background-image: linear-gradient(to bottom, #fba40c, #ffb606);
    border-width: 0px;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(19, 49, 69, 0.2);
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 30px;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    border-radius: 4px;
    display: inline-block;
    float: left;
    overflow:auto;
    margin:6px 0px;
}
            .btn-large { padding: 9px 14px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

            /* SIGNUP word color after hover*/
            .btn:hover { color: white; text-decoration: none; background-color: #a8a8a8; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
            .btn-primary {
              background-color: #fba40c;
              background-image: -webkit-linear-gradient(top, #fba40c, #ffb606);
              background-image: linear-gradient(to bottom, #fba40c, #ffb606);
              border-width: 0px;
              box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(19, 49, 69, 0.2);
              color: #fff;
              text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
              padding: 10px 30px;
              font-size: 18px;
              border-radius: 4px;
              display: inline-block;
              float: left;
              overflow:auto;
            }
            .btn-primary:hover {
              color: #f1f1f1;
              cursor: pointer;
            }

            .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]
            { background-color: #a8a8a8; /* COLOR OF LOGIN AFTER HOVER */
            }

            .btn-block { width: 100%; display:block; }

            * { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

            html { width: 100%; height:100%; overflow:hidden; }

        body {
            width: 100%;
            height:100%;
            font-family: 'Varela Round', sans-serif;
            background-image: url('https://github.com/Konviv/konviv.github.io/blob/master/img/finalbackground.jpg?raw=true');
            background-position: center;
            padding:0px 15px;
            }
        p {
            font-family:'Varela Round';
            color:#999;

        }

            .login {
              padding:25px 30px 0px 30px;
            }
            .login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3);
                letter-spacing:1px;
                text-align:center;
                 font-size: 48px;
             }

            .login h2 { color: #fff;
                letter-spacing:1px;
                text-align:center;
                margin:0px 0px 20px 0px;
                font-size: 1em;
                 }

            .mystyle {
                opacity:1!important;
}

            input {
            	width: 100%;
            	margin-bottom: 10px;
            	border: none;
            	outline: none;
            	padding: 12px;
            	font-size: 12px;
            	color: #666;
            	border-radius: 4px;
            }

            input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
                background-color: black;
                background-image: none;
                color: rgb(0, 0, 0);

            input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

          #myModal {
              background-color:black;
          }
          .modal-content {
            display:block;
            z-index:999;
            background-color:#e2e2e2;
          }
        </style>
    </head>

    <body>
        <div class="login">
            <h1>K O N V I V</h1>
            <h2>Financial Empowerment for All<h2>
        <br>
            <img src="https://raw.githubusercontent.com/Konviv/konviv.github.io/master/img/logo1.png" alt="Konviv Logo" style="height:165px;">

            <br><br><br>

                <!-- The Modal -->
            <div id="myModal" class="modal" style="background-image: url('https://github.com/Konviv/konviv.github.io/blob/master/img/finalbackground.jpg?raw=true'); padding:40px;">

          <!-- Modal content -->
          <div class="modal-content" style="margin-top:150px; background:transparent; padding:20px;">
            <span class="close" style="margin-top:0px;">&times;</span>
            <h2 style="color:white;">Welcome back to Konviv</h2>
            <input id="txtEmail" type="email" placeholder="Email" required="required" />
            <input id="txtPassword" type="Password" placeholder="Password" required="required" />
            <button id="btnLogin" class="btn btn-action btn-primary btn-block btn-large">L o g i n</button>
          </div>

            </div>
 

            <button id="btnSignup" class="btn btn-secondary btn-block btn-large" style="letter-spacing:1.4px;">Create An Account</button>
            <button id="myBtn" class="btn btn-secondary btn-block btn-large">Login</button>

          <!--   <button id="btnLogout" class="btn btn-action btn-primary btn-block btn-large">Logout</button> -->

             <div id='get-button-data'> </div>
             <br /><br />
             <div style="margin-top:60px; text-align:center;">
                <p style="font-size:14px; color:white;">
                    Konviv uses a secure connection and 256-bit encryption just like your bank!
                </p>
            </div>

        </div>



        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>

        <!-- Modal script -->
    <script>
          // Get the modal
      var modal = document.getElementById('myModal');
      // Get the button that opens the modal
      var btn = document.getElementById("myBtn");
      // Get the <span> element that closes the modal
      var span = document.getElementsByClassName("close")[0];
      // When the user clicks on the button, open the modal
      btn.onclick = function() {
          modal.style.display = "block";
      }
      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
          modal.style.display = "none";
      }
      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
          if (event.target == modal) {
              modal.style.display = "none";
          }
      }
    </script>

        <script>
            $(document).ready(function() {
                console.log("log in page loaded");

                // Initialize Firebase
                var firebaseConfig = {
                    apiKey: "AIzaSyASB9RhrUzNme-rGkVrzEXmF3nL7PwMgvQ",
                    authDomain: "konvivandroid.firebaseapp.com",
                    databaseURL: "https://konvivandroid.firebaseio.com",
                    projectId: "konvivandroid",
                    storageBucket: "konvivandroid.appspot.com",
                    messagingSenderId: "41760220514"
                };
                firebase.initializeApp(firebaseConfig);

                var unsubscribe = firebase.auth().onAuthStateChanged(function(user) {
                    if (user) {
                        location.href="/index.ejs";
                    } else {
                        sessionStorage.clear();
                    }
                    unsubscribe();
                });

                // $.get('/log_in_status', function(data) {
                //     logInSuccess(data.login);
                // });

                //Get elements
                var txtEmail = document.getElementById('txtEmail');
                var txtPassword = document.getElementById('txtPassword');
                var btnLogin = document.getElementById('btnLogin');
                var btnSignup = document.getElementById('btnSignup');
                var btnLogout = document.getElementById('btnLogout');

                //Add login event
                btnLogin.addEventListener('click', e => {
                    var email = txtEmail.value;
                    var password = txtPassword.value;
                    // const auth=firebase.auth();
                    //Sign in
                    console.log('log in called...');

                    firebase.auth().signInWithEmailAndPassword(email, password).catch(function(error) {
                        // Handle Errors here
                        var errorCode = error.code;
                        var errorMessage = error.message;
                        console.log('unable to log in');
                        var errorHtml = '<div class="inner"><p>' +
                        '<strong>' + (errorMessage || 'Could not login!') + '</strong> ' + '</p></div>';
                        // Render the error
                        $('#get-button-data').slideUp(function() {
                            $(this).slideUp(function() {
                                $(this).html(errorHtml).slideDown();
                            });
                        });
                    }).then(function() {
                        var user = firebase.auth().currentUser;
                        // Grab individual user session token
                        user.getIdToken().then(function(token) {
                            sessionStorage.setItem('firebaseToken', token);
                            location.href="index.ejs";
                        })
                    });
                });

                //Add signup event
                btnSignup.addEventListener('click', e => {
                    location.href="newuser.ejs"
                    // console.log('ready to create new user');
                });
            }());

            // function logInSuccess(success, error) {
            //     if (success == true) {
            //         location.href="index.ejs"
            //         console.log('currently logged in');
            //     } else {
            //         console.log('unable to log in');
            //         var errorHtml = '<div class="inner"><p>' +
            //         '<strong>' + (error || 'Could not login!') + '</strong> ' + '</p></div>';
            //         // Render the error
            //         $('#get-button-data').slideUp(function() {
            //             $(this).slideUp(function() {
            //                 $(this).html(errorHtml).slideDown();
            //             });
            //         });
            //     }
            // };
        </script>
    </body>
</html>
