<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Konviv App</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<style>

.btn {
  background-color: #fba40c;
  background-image: -webkit-linear-gradient(top, #fba40c, #ffb606);
  background-image: linear-gradient(to bottom, #fba40c, #ffb606);
  border-width: 0px;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(19, 49, 69, 0.2);
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 4px;
  display: inline-block;
  float: left;
  overflow:auto;
  margin:6px 0px;
    }
/*
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: red; }*/

.btn-large { padding: 9px 14px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }

/* SIGNUP word color after hover*/
.btn:hover { color: white; text-decoration: none; background-color: #a8a8a8; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary {
  background-color: #fba40c;
  background-image: -webkit-linear-gradient(top, #fba40c, #ffb606);
  background-image: linear-gradient(to bottom, #fba40c, #ffb606);
  border-width: 0px;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(19, 49, 69, 0.2);
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 4px;
  display: inline-block;
  float: left;
  overflow:auto;
}
.btn-primary:hover { 
  color: #f1f1f1;
  cursor: pointer;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]
{ background-color: #a8a8a8; /* COLOR OF LOGIN AFTER HOVER */
}

.btn-block { width: 100%; display:block; }

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

html { width: 100%; height:100%; overflow:hidden; }

.back {
    font-size: 12px;
    text-decoration: none!important;
    color: #444;
}

body {
    width: 100%;
    height:100%;
    font-family: 'Lato', sans-serif;
}

.login {
    position: absolute;
    top: 30%;
    left: 50%;
    bottom: 20%;
    margin: -150px 0 0 -150px;
    width:300px;
    height:300px;
}

input {
    width: 100%;
    margin-bottom: 10px;
    border:1px solid #EEE;
    padding: 12px;
    font-size: 12px;
    color: #494949;
    border-radius: 4px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: black;
    background-image: none;
    color: rgb(0, 0, 0);

input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

    </style>

</head>

    <body>

    <div class="login">
    <p><a class="back" href="index.js">< Back</a></p>
    <h1 style="font-size:45px; font-family:'Lato';">Let's start by creating an account!</h1>
   
          <input id="enterEmail" type="email" placeholder="Username" required="required" />
          <input id="enterPassword" type="Password" placeholder="Password" required="required" />
          <input id="checkPassword" type="Password" placeholder="Confirm Password" required="required" />

         <br />

           <button id="btnSignup" class="btn btn-secondary btn-block btn-large">S i g n u p</button>
           <div id='get-button-data'> </div>
        <br /><br /><br /><br /><br /><br /><br /><br />
           <div style="margin-top:300px; text-align:center; margin:10px 5px;"><p style="font-size:14px; color:#DDD;">Konviv uses a secure connection and 256-bit encryption just like your bank!</p></div>
    </div>



    <script>
        $(document).ready(function() {
            console.log('does this get called even?');
            $.get('/log_in_status', function(data) {
                logInSuccess(data.login);
            });
        });

        function logInSuccess(success) {
            if (success == true) {
                location.href="index.ejs"
                console.log('currently logged in');
            } else {
                console.log('unable to log in');
            }
        };

        btnSignup.addEventListener('click', e => {
            var errorCode = null;
            var errorMsg = null;

            console.log(enterPassword.value + " vs. " + checkPassword.value);
            if (enterPassword.value != checkPassword.value) {
                errorMsg = "Passwords do not match!";
                console.log("passwords do not match");
            }

            const email=enterEmail.value; //EMAIL VALIDATION
            const pass=enterPassword.value;

            //Sign up
            console.log('sign up called...');
            $.post('/sign_up', {
                username: email,
                password: pass,
            }, function(data) {
                if (data.error != null) {
                    errorMsg = data.error;
                }
                if (errorMsg != null) {
                    console.log(errorMsg);
                    // Format the error
                    if (errorMsg != null) {
                        var errorHtml = '<div class="inner"><p>' +
                        '<strong>' + errorMsg + '</strong> ' + '</p></div>';
                        // Render the error
                        $('#get-button-data').slideUp(function() {
                            $(this).slideUp(function() {
                                $(this).html(errorHtml).slideDown();
                            });
                        });
                    }
                } else {
                    handler.open();
                }
            });


        });

        var handler = Plaid.create({
            apiVersion: 'v2',
            clientName: 'Konviv Android Demo',
            env: 'development',
            product: ['transactions'],
            key: '9f4ef21fdb37b5c0e3f80290db7716',
            onSuccess: function(public_token) {
                $.post('/get_access_token', {
                    public_token: public_token
                }, function() {
                    location.href="index.ejs";
                });
            },
            onExit: function() {
                location.href="index.ejs";
            }
        });
    </script>
</body>
</html>
