<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Konviv App</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

        <style>

        .btn {
          background-color: #fba40c;
          background-image: -webkit-linear-gradient(top, #fba40c, #ffb606);
          background-image: linear-gradient(to bottom, #fba40c, #ffb606);
          border-width: 0px;
          box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(19, 49, 69, 0.2);
          color: #fff;
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          padding: 10px 30px;
          font-size: 18px;
          border-radius: 4px;
          display: inline-block;
          float: left;
          overflow:auto;
          margin:6px 0px;
            }


        /* SIGNUP word color after hover*/
        .btn:hover { color: white; text-decoration: none; background-color: #a8a8a8; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }


        .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]
        { background-color: #a8a8a8; /* COLOR OF LOGIN AFTER HOVER */
        }


        * { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

        html { width: 100%; height:100%; overflow:hidden; font-family: 'Montserrat', sans-serif;
        }

        /*.back {
            font-size: 12px;
            text-decoration: none!important;
            color: #444;
        }*/

        .container {
        border: 0px solid #bdbdbd;
        max-width:400px;
        padding:30px;
        box-shadow: 0 0 10px #fff;
        border-radius: 10px;
        margin-top:200px;
        justify-content: center;
        text-align:center;
        margin:10px 5px;
        font-size:14px; color:#DDD;
        margin: 0 auto;
        }

        body {
            width: 100%;
            height:100%;
            font-family: 'Open Sans', sans-serif;
            background-image: url('https://github.com/Konviv/konviv.github.io/blob/master/img/finalbackground.jpg?raw=true');
            background-position: center;
            padding:40px 15px;
            }
        p {
            font-family:'Arial';
            color:#999;

        }

        .back{
          color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3);
            letter-spacing:1px;
        }

    .title h1{
      text-align:center; 
      margin:10px 5px;
      padding-top:10px;
      color:white;
    }


    #string{
          font-size: 18px;
            line-height: 18px;
            opacity: .7;
            text-align: center;
            justify-content:center;
            top: -30px;
            padding-bottom: 0px;
    }

    .skip {
        font-size: 18px;
        text-decoration: none!important;
        text-shadow: 0 0 10px rgba(0,0,0,0.3);
        letter-spacing:1px;
        align: right;
        color: #fff;
        text-shadow: 0 0 10px rgba(0,0,0,0.3);
    }

        </style>
    </head>

    <body>
        <p><a class="back" href="/guidescreen.ejs">< Back </a></p> <br><br>


      <div class = "title">
            <h1> Welcome To KONVIV </h1>
        </div><br /><br />
        <center><img src="https://github.com/Konviv/konviv.github.io/blob/master/img/long.png?raw=true" style="width:60px;" alt="lock" /></center><br />
        <br />

        <div class = "container" style="color:#333; background-color:white;">

        <p style="color:#888; font-size:21px;">We Use Bank-Grade Security</p><br />
        <p><img src="https://github.com/Konviv/konviv.github.io/blob/master/img/plaid.jpg?raw=true" style="width:200px;" alt="Plaid" /><br /><br />
        Your bank is connected to Konviv using the Plaid API, the same company Mint uses. Plaid has relationships with thousands of banks and protects your data along with the rest. Rest assured, your security is our top concern.</p>



        <button id="btnSecurity" class="btn btn-block">Link Bank Account</button>
           </div>

        <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>

        <script>
            $(document).ready(function() {
            //     console.log("security page loaded");
            //     if (sessionStorage.token && sessionStorage.userId) {
            //         console.log('currently not signing in');
            //     } else {
            //         location.href="/newuser.ejs";
            //     }

                btnSecurity.addEventListener('click', e => {
                    handler.open();
                });

                //Sign up
                var plaidEnv = '';
                var plaidKey = '';
                var plaidHandler = null;

                $.get('/plaid_info', function(data) {
                    // console.log('plaidKey');
                    //
                    // console.log(data);
                    plaidEnv = data.env;
                    plaidKey = data.key;

                    plaidHandler = plaidHandler = Plaid.create({
                        apiVersion: 'v2',
                        clientName: 'Konviv MVP',
                        env: plaidEnv,
                        product: ['transactions'],
                        key: plaidKey,
                        onSuccess: function(public_token) {
                            // alert('calling /get_access_token...')
                            $.post('/get_access_token', {
                                firebaseToken: sessionStorage.getItem("firebaseToken"),
                                publicToken: public_token,
                                userId: sessionStorage.getItem("userId")
                            }, function() {
                                location.href="index.ejs";
                            });
                        }
                    });
                });
            });

        </script>
    </body>
</html>
