html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
font,
img,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}

<style>
@import url('https://fonts.googleapis.com/css?family=Lato');
</style>

body {
  line-height: 1;


}
html {
  color: #444;
/*  font: normal 62.5%/1 helvetica, arial, sans-serif;
*/  padding: 0px;
  margin: 0;
  font-family: "Lato";
  text-align: center;
  background: transparent;
}
body {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
a,
a:visited {
  color: #3a98c9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#banner,
.box {
  min-width: 280px;
  max-width: 800px;
  margin: 20px auto 0;
  padding: 0;
  border-radius: 2px;
  text-align: left;
  display: block;
  /*display: inline-block;*/
  overflow:auto;
}

#container {
  min-width: 280px;
  max-width: 800px;
  margin: 20px auto 0;
  padding: 20px;
  background: #fff;
  border: 2px solid white;
  border-radius: 2px;
  text-align: left;
  background: #cceff0
}

h1 + h1 {
  display:none;
}


#container p {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;

}

.upbutton {
      font-size:10px;
      margin-bottom:-4px;
      width:100px;
      color:#3F3F44;
      border:1px solid #DDD;
      background-color: white;
      border-radius: 4px;
      display: inline-block;
      float: left;
      overflow:auto;
      padding: 10px 30px;
      margin:1px 0px;
}

.upbutton:hover {
  color:#DDD;
}

button {
  border-width: 0px;
  font-size: 18px;
  border-radius: 4px;
  display: inline-block;
  float: left;
  overflow:auto;
}
button:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.headerbutton {
  background:none;
  background-color: white;
  border-width: 0px;
  font-size: 28px;
  border-radius: 0px;
  display: inline-block;
  float: left;
  overflow:auto;
}

.savingsbutton {
  background-color: #EEE;
  border-width: 0px;
  font-size: 28px;
  border-radius: 4px;
  padding:6px;
  display: inline-block;
  float: left;
  overflow:auto;
}

#header {
  font-color: red;
}
#buckets {
  display: none;
}
#buckets textarea {
  display: none;
  height: 100px;
  width: 260px;
  padding: 10px;
  font-size: 14px;
}
#menu .box {
  display: flex;
  justify-content: space-between;
  background:white;
}

#demo-help .box{
    width: 500px;
    padding: 20px;
    /*display: flex;*/
    /*justify-content: space-between;*/
    text-align:center;
    background: #09868c;

    /*justify-content: space-between;
    display: flex;
    background: #09868c;
    border-radius: 7px;
    border-radius: 8px;
    box-shadow: 0px 10px 30px rgba(70, 0, 0, .3)*/
}

#menu {
  margin-top:-20px;
}

#menu textarea {
  /*display: none;*/
  height: 100px;
  width: 260px;
  font-size: 14px;
}

.inner {
  background: #f3f3f3;
  font-size: 14px;
  line-height: 17px;
  padding: 20px;
  border-radius: 2px;
  margin-top: 20px;
}
#banner {
  margin-top: 30px;
  border-radius: 0 0 2px 2px;
  background:#09868c
}
#banner h1 {
/*  color: #1799a6;
  font-size: 30px;
  font-weight: bold;
  font-family:'Lato';
  margin-left: auto;
  margin-right: auto;
  width: 6em*/

  color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3);
    letter-spacing:1px;
    text-align:center;
     font-size: 5em;
}
#banner p {
  font-size: 14px;
  line-height: 17px;
  margin-top: 5px;
}
#steps {
  display: none;
}
.green {
  background: #3ab683;
  color: #fff;
}
.load-bar-frame {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  padding: 3px;
  border: 1px solid #000;
  margin: 20px auto 0 auto;
  display: inline-block;
  position: relative;
  top: 20px;
  left: 20px;
}
.load-bar {
  width: 100%; /* in this case 20% would be the current progress */
  height: 100%;
  border-radius: 50%;
}
.text {
    z-index: 100;
    height: relative + 15%;
    color: black;
}

/* CSS FOR TEXT */

.head h1{
font-size:18px;
margin-left:-5px;
margin-top:-5px;
width:105%;
font-weight: bold;
color: white;
background: #00b7b8;
text-align: center;
padding:5px;
}

h1 {
  line-height: 2;
  color:white;
}

.savingsActive {
    backgroud-color:#ffc845; 
}

/*MONTHLY*/

.box {
  background: white;
  padding:5px 5px 5px 5px;
}

.nubox {
    display:block;
    float:left;
    position:relative;
    height:100px;
    width:100px;
    border-top:0px;
    background-color:white;
}

#left-to-spend, #monthly-income  {
  background-color:white;
  text-align: center;
  font: "Lato", Arial;
  padding-top: 20px;
  padding-bottom:5px;
  font-size:24px;
  color:#61cb43;
  font-weight:bold;
}

#string{
    font-size: 14px;
    line-height: 18px;
    opacity: .5;
    text-align: center;
    justify-content:center;
    top: -30px;
    padding-bottom: 30px;

}

/*.bucket-heading{
    font-size: 20px;
    line-height: 18px;
    opacity: .5;
    text-align: center;
    justify-content:center;
    top: -30px;
    padding-bottom: 30px;
}*/

#overall-stats{
    font-size: 16px;
    padding-bottom: 10px;
}

#total-bills, #total-spending {
    text-align: center;
    /*font-size:14px;*/
    color:#333;
    border: 0px solid #bdbdbd;
    margin: 35px;
    padding:0px;
    font-size: 13px;
    line-height: 18px;
    opacity: .5;
    text-align: center;
    justify-content:center;
    top: -30px;
    padding-bottom: 30px;
    overflow: hidden;
}

/**CSS BRO */

.wrap-bills {
    text-align: center;
    margin: 0px;
}
.wrap-bills .circle-bills {
    background-color: #f5f5f5;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 1px solid #ccc;
    margin: 30px 20px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    box-shadow: 2px 1px 10px #444;
}
.wrap-bills .circle-bills .perc-bills {
    position: absolute;
    width: 108px; /*200*/
    height: 108px;
    left: 50%;
    top: 50%;
    background-color:#61cb43;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.wrap-bills .circle-bills .perc-bills .perc-value-bills {
  position: absolute;
  content: " ";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
}
.wrap-bills .circle-bills span {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 15px;
  background-color: transparent;
  z-index: 2;
  padding: 5px;
  border-radius: 3px;
}
.wrap-bills .circle-bills .top-bills {
  top: -48px;
  font-size:1em;
  font-weight: bold;

}

.wrap-bills .circle-bills .bottom-bills {
  bottom: 40px;
  font-size:1em;
}
/* NEW CSS */


* {
  margin: 0; padding: 0; list-style: none; line-height: 1;
}

.wrap-savings {
    text-align: center;
    margin: 15px;
}
.wrap-savings .circle-savings {
  background-color: #cceff0;
  width: 220px;
  height: 220px;
  border-radius: 100%;
  border: 1px solid #ccc;
  margin: 30px 20px;
  display: inline-block;
  position: relative;
}
.wrap-savings .circle-savings .perc-savings {
    position: absolute;
    width: 200px; /*200*/
    height: 200px;
    left: 50%;
    top: 50%;
    background-color:#61cb43;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}
.wrap-savings .circle-savings .perc-savings .perc-value-savings {
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
}
.wrap-savings .circle-savings span {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 15px;
    background-color: transparent;
    z-index: 2;
    padding: 5px;
    border-radius: 3px;
}
.wrap-savings .circle-savings .top-savings {
    top: -48px;
    font-size:20px;
    font-weight: bold;
}
.wrap-savings .circle-savings .bottom-savings {
    bottom: 78px;
    font-size:30px;
}

.wrap {
  text-align: center;
  margin: 15px;
  background:transparent!important;
}

.wrap .circle {
  background-color: #f5f5f5;
  box-shadow: 2px 1px 10px #444;
  width: 220px;
  height: 220px;
  border-radius: 100%;
  border: 1px solid #ccc;
  margin: 30px 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.wrap .circle .perc {
  position: absolute;
  width: 200px; /*200*/
  height: 200px;
  left: 50%;
  top: 50%;
  background-color:#61cb43;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.wrap .circle .perc .perc-value {
  position: absolute;
  content: " ";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
}

.wrap .circle span {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 15px;
  background-color: transparent;
  z-index: 2;
  padding: 5px;
  border-radius: 3px;
}

.wrap .circle .top {
  top: -69px;
  padding-top:20px;
  font-size:22px;
  font-weight: bold;
  color:#333;
}
.wrap .circle .bottom {
  bottom: 78px;
  font-size:30px;
}

#get-button-data {
    display: none;
    max-width: 850px;
    display: block;
    margin: auto;

}

#bucket-low-alert {
    display: none;
    max-width: 850px;
    display: block;
    margin: auto;
}

#footer .box{
  background: #e4e4e4;
  margin-bottom: 30px;
}

/* newuser and bucketpage css */

.btn {
  background-color: #fba40c;
  background-image: -webkit-linear-gradient(top, #fba40c, #ffb606);
  background-image: linear-gradient(to bottom, #fba40c, #ffb606);
  border-width: 0px;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(19, 49, 69, 0.2);
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 4px;
  display: inline-block;
  float: left;
  overflow:auto;
  margin:6px 0px;
}

.btn-large {
    padding: 9px 14px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
}

/* SIGNUP word color after hover*/
.btn:hover {
    color: white; text-decoration: none; background-color: #a8a8a8; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear;
}

.btn-primary {
  background-color: #fba40c;
  background-image: -webkit-linear-gradient(top, #fba40c, #ffb606);
  background-image: linear-gradient(to bottom, #fba40c, #ffb606);
  border-width: 0px;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(19, 49, 69, 0.2);
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 4px;
  display: inline-block;
  float: left;
  overflow:auto;
}

.btn-primary:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled]
{ background-color: #a8a8a8; /* COLOR OF BUTTON AFTER HOVER */
}

.btn-block { width: 100%; display:block; }

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

.back {
    font-size: 12px;
    text-decoration: none!important;
    color: #444;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    letter-spacing:1px;
}

body {
    width: 100%;
    height:100%;
    font-family: 'Montserrat', sans-serif;
    background-color:#EEE;
    border-top:1px solid #DEDEDE;
    overflow: scroll;
}

input {
    width: 100%;
    margin-bottom: 10px;
    border:1px solid #EEE;
    padding: 12px;
    font-size: 12px;
    color: #494949;
    border-radius: 4px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: black;
    background-image: none;
    color: rgb(0, 0, 0);
}

input:focus {
    box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}

/* Bucket Page */

.clickTransaction {
    cursor: pointer;
}
