html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
font,
img,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
body {
  line-height: 1;
}
html {
  color: #444;
  font: normal 62.5%/1 helvetica, arial, sans-serif;
  padding: 0px;
  margin: 0;
  text-align: center;
  background: #00b1b5;
    background: -webkit-linear-gradient(#09868c, #00b7b8); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#09868c, #00b7b8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#09868c, #00b7b8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#09868c, #00b7b8);
}
body {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
a,
a:visited {
  color: #3a98c9;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#banner,
.box {
  min-width: 280px;
  max-width: 800px;
  margin: 20px auto 0;
  padding: 0;
  background: #fff;
  border: 2px solid white;
  border-radius: 2px;
  text-align: left;
  display: block;
  /*display: inline-block;*/
  overflow:auto;
}

#demo-help .box {
  padding: 20px;
}


#container {
  min-width: 280px;
  max-width: 800px;
  margin: 20px auto 0;
  padding: 20px;
  background: #fff;
  border: 2px solid white;
  border-radius: 2px;
  text-align: left;
  background: #cceff0
}

h1 + h1 {
  display:none;
}


#container p {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;

}

button {
  background-color: #fba40c;
  background-image: -webkit-linear-gradient(top, #fba40c, #ffb606);
  background-image: linear-gradient(to bottom, #fba40c, #ffb606);
  border-width: 0px;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(19, 49, 69, 0.2);
  color: #fff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  font-size: 18px;
  border-radius: 4px;
  display: inline-block;
  float: left;
  overflow:auto;
}
button:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.button2 {
  background:none;
  background-color: white;
  border-width: 0px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 10px;
  font-size: 28px;
  border-radius: 4px;
  display: inline-block;
  float: left;
  overflow:auto;
}

#header {
  font-color: red;
}
#buckets {
  display: none;
}
#buckets textarea {
  display: none;
  height: 100px;
  width: 260px;
  padding: 10px;
  font-size: 14px;
}
#menu .box {
  display: flex;
  justify-content: space-between;
  background: #09868c;
}

#demo-help .box{
  width: 80px;
  display: flex;
  justify-content: space-between;
  background: #09868c;
}

#menu textarea {
  /*display: none;*/
  height: 100px;
  width: 260px;
  padding: 10px;
  font-size: 14px;
}
.box {
  margin: 20px auto 0;
}
.inner {
  background: #f3f3f3;
  font-size: 14px;
  line-height: 17px;
  padding: 20px;
  border-radius: 2px;
  margin-top: 20px;
}
#banner {
  margin-top: 30px;
  border-radius: 0 0 2px 2px;
  background:#09868c
}
#banner h1 {
/*  color: #1799a6;
  font-size: 30px;
  font-weight: bold;
  font-family:'Lato';
  margin-left: auto;
  margin-right: auto;
  width: 6em*/

  color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3);
    letter-spacing:1px;
    text-align:center;
     font-size: 5em;
}
#banner p {
  font-size: 14px;
  line-height: 17px;
  margin-top: 5px;
}
#steps {
  display: none;
}
.green {
  background: #3ab683;
  color: #fff;
}
.load-bar-frame {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  padding: 3px;
  border: 1px solid #000;
  margin: 20px auto 0 auto;
  display: inline-block;
  position: relative;
  top: 20px;
  left: 20px;
}
.load-bar {
  width: 100%; /* in this case 20% would be the current progress */
  height: 100%;
  border-radius: 50%;
}
.text {
    z-index: 100;
    height: relative + 15%;
    color: black;
}

/* CSS FOR TEXT */

.head h1{
font-size:18px;
font-weight: bold;
color: white;
background: #00b7b8;
border-radius: 5px;
text-align: center;
}

h1 {
  line-height: 2;
}

/*MONTHLY*/

.box {
  background: #f9f9f9;
  border-radius: 7px;
}

.body{
  background: #e4e4e4;
}


#left-to-spend  {
  margin-top:1px;
  font-size:45px;
  color: #74d6f7;
  text-align: center;
}


#monthly-income {
    margin-top:1px;
  font-size:45px;
  color: #74d6f7;
  text-align: center;

}

#monthly-fixed-bills h1 {
    text-align: center;
    font-size:40px;
    color: #F06560;
    border: 0px solid #bdbdbd;
    margin: 25px;
    box-shadow: 0 0 7px #fff;
    border-radius: 5px;
    overflow: hidden;
}



/**CSS BRO */

.wrap0 {
  text-align: center;
  margin: 0px;
}
.wrap0 .circle0 {
  background-color: #f5f5f5;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  border: 1px solid #ccc;
  margin: 30px 20px;
  display: inline-block;
  position: relative;
}
.wrap0 .circle0 .perc0 {
  position: absolute;
  width: 100%;
  height: 100%;
/*  left: 50%;
  top: 50%;*/
  background-color:#61cb43;
  border-radius: 100%;
/*  transform: translate(-50%, -50%);
*/  overflow: hidden;
}
.wrap0 .circle0 .perc0 .perc-value0 {
  position: absolute;
  content: " ";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
}
.wrap0 .circle0 span {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 15px;
  background-color: transparent;
  z-index: 2;
  padding: 5px;
  border-radius: 3px;
}
.wrap0 .circle0 .top0 {
  top: -38px;
  font-size:1.4em;
  font-weight: bold;

}

.wrap0 .circle0 .bottom0 {
  bottom: 50px;
  font-size:1.3em;
}
/* NEW CSS */


* {
  margin: 0; padding: 0; list-style: none; line-height: 1;
}
.wrap {
  text-align: center;
  margin: 15px;
}
.wrap .circle {
  background-color: #f5f5f5;
  width: 220px;
  height: 220px;
  border-radius: 100%;
  border: 1px solid #ccc;
  margin: 30px 20px;
  display: inline-block;
  position: relative;
}
.wrap .circle .perc {
  position: absolute;
  width: 200px; /*200*/
  height: 200px;
  left: 50%;
  top: 50%;
  background-color:#61cb43;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.wrap .circle .perc .perc-value {
  position: absolute;
  content: " ";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
}
.wrap .circle span {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 15px;
  background-color: transparent;
  z-index: 2;
  padding: 5px;
  border-radius: 3px;
}
.wrap .circle .top {
  top: -38px;
  font-size:18px;
  font-weight: bold;

}

.wrap .circle .bottom {
  bottom: 78px;
  font-size:30px;
}


#get-button-data {
    display: none;
    max-width: 850px;
    display: block;
    margin: auto;

}

#footer .box{
  background: #00b7b8;
  margin-bottom: 30px;


}
