<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Konviv MVP</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

             <!--   <script>
        window.onload = function () {
        document.getElementById('button').onclick = function () {
        document.getElementById('modal').style.display = "none"
            };
        };
        </script> -->

        <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans');

        body {
         font-family: 'Open Sans', sans-serif;
           background-image: url('https://github.com/Konviv/konviv.github.io/blob/master/img/whitebox.jpg?raw=true');
        }
        #navigation-top {
          position:relative;
          z-index:99;
          background-color:white;
          }
        #navigation-footer {
             display:none;
             }

	p {
	   font-size:14px;
	   line-height:16px;
	}
	h1 {
	   font-size:22px;
	   font-weight:bold;
	   color:black;
	}
	img {
            border:1px solid #EEE;
	    padding:10px;
	}
        #modal {
            position: fixed;
            font-family: Arial, Helvetica, sans-serif;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.8);
            z-index: 99999;
            height: 100%;
            width: 100%;
        }
        .modalconent {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            width: 80%;
            padding: 20px;
            border-radius:4px;
          }
        </style>
    </head>
    <body>

        <div id="navigation-top" style="background-color:white;">
            <div id="menu">
                <div class="box">
                    <div class="nubox">
                        <p><a href="index.ejs"><button class="upbutton">Main</button></a></p>
                        <p><a href="bills.ejs"><button class="upbutton">Bills</button></a></p>
                        <p><a href="savings.ejs"><button class="upbutton">Savings</button></a></p>
                    </div>
                    <div class="nubox">
			<img src="http://www.konviv.com/img/icon3.jpg" style="width: 118px; margin: -10px 0px 0px -10px; border: none;" alt="Newsfeed icon" />
                    </div>
                    <div class="nubox">
                        <p><a href="/"><button class="upbutton" id="logout-btn">Logout</button></a></p>
                        <p><a href="newsfeed.ejs"><button class="upbutton">Newsfeed</button></a></p>
                        <p><a href="#"><button id="myBtn" class="upbutton">Settings</button></a></p>
                    </div>
                </div>
            </div>
        </div>

        <div id="navigation-footer" style="background-color:white;">
            <div id="menu">
                <div class="box">
                    <button style="opacity:0.5;" class="headerbutton" id="get-accounts-btn"><img src="https://github.com/Konviv/konviv.github.io/blob/master/img/icon1.jpg?raw=true" alt="Transactions" desc="Transactions" style="width:85px;"><br />
                    <p style="margin-top:-5px; font-size:10px; color:#222; padding-bottom:10px;">Accounts</p></button>
                    <button style="opacity:0.5;" class="headerbutton" id="get-transactions-btn"><img src="https://github.com/Konviv/konviv.github.io/blob/master/img/icon2.jpg?raw=true" alt="Transactions" desc="Transactions" style="width:85px;"><br /><p style="margin-top:-5px; font-size:10px; color:#222; padding-bottom:10px;">Transactions</p></button>
                    <button style="opacity:0.5;" class="headerbutton" id="get-link-btn"><img src="https://github.com/Konviv/konviv.github.io/blob/master/img/icon3.jpg?raw=true" alt="Transactions" desc="Transactions" style="width:85px;"><br /><p style="margin-top:-5px; font-size:10px; color:#222; padding-bottom:10px;">Edit Bank</p></button>
                    <button class="headerbutton" id="get-insights-btn"><img src="https://github.com/Konviv/konviv.github.io/blob/master/img/icon4.jpg?raw=true" alt="Insights" desc="Insights" style="width:85px;"><br /><p style="margin-top:-5px; font-size:10px; color:#222; padding-bottom:10px;">Insights</p></button>
                </div>
            </div>
        </div>

        <div class ="box" style="background-color:white; margin-top:-5px;">
            <div class="head">
                <h1>News Feed<h1>
            </div>
            <div class = "body" style="padding:20px;">
		<h1>1. Say no to the Tapas!</h1>
		<p><img src="https://github.com/Konviv/konviv.github.io/blob/master/img/pic1.png?raw=true" style="width:95%;" /></p>
		<p>Going out to eat with friends usually ends poorly for our bank accounts. Waking up the next morning and realizing you emptied your bank account on tapas and sangria (damn you tapas!) is a feeling that somehow manages to rival your stomach ache. Try to limit yourself to an amount like $50 for example and keep track as the night goes on. Tools like Konviv will make this easier, and easier to do!</p>
		<h1>2. Go out Cardless</h1>
		<p><img src="https://github.com/Konviv/konviv.github.io/blob/master/img/pic2.png?raw=true" style="width:95%;" /></p>
		<p>One of the easiest ways to avoid this crisis is to just limit the amount of money you have access to (see point above). Before you go out with your friends, go to the ATM and decide how much cash you can afford to spend on a night out. Withdraw it, and when you go out, leave all your plastic at home and stick to this set amount of cash.</p>
		<h1>3. Would you like extra butter?</h1>
		<p><img src="https://github.com/Konviv/konviv.github.io/blob/master/img/pic3.png?raw=true" style="width:95%;" /></p>
		<p>Going out to the movies with your friends back when our parents were our age was super cheap. Now it can be north of $10 a ticket depending on where you live and the type of theater you are going to. If going out to the movies is something you really want to do, bring a student ID card with you, most theaters give student discounts. Also sneak your own snacks into the theater, the ones behind the counter are WAY overpriced.</p>
		<h1>4. Welcome to mi casa! BYOB, BYOF</h1>
		<p><img src="https://github.com/Konviv/konviv.github.io/blob/master/img/pic4.png?raw=true" style="width:95%;" /></p>
		<p>Eating out has also become insanely expensive. Sure you are paying for something you couldn’t necessarily make yourself but there are definitely great alternatives to going out to dinner with your friends. Instead try inviting your besties over and have a potluck, where everyone prepares something that they are good at and you can all get together and have a feast at a fraction of the cost while still having a great time!</p>

            </div>
            </div>
        </div>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
        <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.1.4/firebase.js"></script>

        <script>
            (function() {
                var firebaseConfig = {
                    apiKey: "AIzaSyASB9RhrUzNme-rGkVrzEXmF3nL7PwMgvQ",
                    authDomain: "konvivandroid.firebaseapp.com",
                    databaseURL: "https://konvivandroid.firebaseio.com",
                    projectId: "konvivandroid",
                    storageBucket: "konvivandroid.appspot.com",
                    messagingSenderId: "41760220514"
                };

                firebase.initializeApp(firebaseConfig);
                // checkLoginStatus();

                function checkLoginStatus() {
                    console.log("refresh check");
                    firebase.auth().onAuthStateChanged(function(user) {
                        if (!user){
                            sessionStorage.clear();
                            location.href="/";
                        }
                    });
                }

            	function Slideshow( element ) {
            		this.el = document.querySelector( element );
            		this.init();
            	}

            	Slideshow.prototype = {
            		init: function() {
            			this.wrapper = this.el.querySelector( ".slider-wrapper" );
            			this.slides = this.el.querySelectorAll( ".slide" );
            			this.previous = this.el.querySelector( ".slider-previous" );
            			this.next = this.el.querySelector( ".slider-next" );
            			this.nav = this.el.querySelector( ".slider-nav" );
            			this.index = 0;
            			this.total = this.slides.length;

            			this.setup();
            			this.actions();
            		},
            		_slideTo: function( slide ) {
            			var currentSlide = this.slides[slide];
            			currentSlide.style.opacity = 1;

            			for( var i = 0; i < this.slides.length; i++ ) {
            				var slide = this.slides[i];
            				if( slide !== currentSlide ) {
            					slide.style.opacity = 0;
            				}
            			}
            		},
            		setup: function() {
            			var slides = this.slides,
            				len = slides.length,
            				i;
            			for( i = 0; i < len; ++i ) {
            				var slide = slides[i],
            					src = slide.getAttribute( "data-image" );

            				    slide.style.backgroundImage = "url(" + src + ")";
            			}
            		},
            		actions: function() {
            			var self = this;

            			self.el.addEventListener( "mouseover", function() {
            				self.nav.style.display = "block";

            			}, false);

            			self.el.addEventListener( "mouseout", function() {
            				self.nav.style.display = "none";

            			}, false);

            			self.next.addEventListener( "click", function() {
            				self.index++;
            				self.previous.style.display = "block";

            				if( self.index == self.total - 1 ) {
            					self.index = self.total - 1;
            					self.next.style.display = "none";
            				}

            				self._slideTo( self.index );

            			}, false);

            			self.previous.addEventListener( "click", function() {
            				self.index--;
            				self.next.style.display = "block";

            				if( self.index == 0 ) {
            					self.index = 0;
            					self.previous.style.display = "none";
            				}

            				self._slideTo( self.index );

            			}, false);

            			document.body.addEventListener( "keydown", function( e ) {
            				var code = e.keyCode;
            				var evt = new Event( "click" );

            				if( code == 39 ) {
            					self.next.dispatchEvent( evt );
            				}
            				if( code == 37 ) {
            					self.previous.dispatchEvent( evt );
            				}

            			}, false);
            		}


            	};

            	document.addEventListener( "DOMContentLoaded", function() {

            		var slider = new Slideshow( "#main-slider" );

            	});


            })();
        </script>
    </body>
</html>
