<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Konviv MVP</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans');

        body {
         font-family: 'Open Sans', sans-serif;
           background-image: url('https://github.com/Konviv/konviv.github.io/blob/master/img/white.jpg?raw=true');
           background-position: center;
           /* Set a specific height */
           height: 500px;

           /* Create the parallax scrolling effect */
           background-attachment: fixed;
           background-position: center;
           background-repeat: no-repeat;
           background-size: cover;
        }

        </style>
    </head>
    <body>

        <div id="menu">
           <div class="box">
               <button class="headerbutton" id="get-accounts-btn"><img src="https://github.com/Konviv/konviv.github.io/blob/master/img/icon1.png?raw=true" alt="Transactions" desc="Transactions" style="width:85px;"><br />
               <p style="margin-top:-5px; font-size:10px; color:#222;">Accounts</p></button>
               <button class="headerbutton" id="get-transactions-btn"><img src="https://github.com/Konviv/konviv.github.io/blob/master/img/icon2.png?raw=true" alt="Transactions" desc="Transactions" style="width:85px;"><br /><p style="margin-top:-5px; font-size:10px; color:#222;">Transactions</p></button>
               <button class="headerbutton" id="get-link-btn"><img src="https://github.com/Konviv/konviv.github.io/blob/master/img/icon3.png?raw=true" alt="Transactions" desc="Transactions" style="width:85px;"><br /><p style="margin-top:-5px; font-size:10px; color:#222;">Edit Bank</p></button>
               <button class="logout-btn headerbutton"><img src="https://github.com/Konviv/konviv.github.io/blob/master/img/icon4.png?raw=true" alt="Transactions" desc="Transactions" style="width:85px;"><br /><p style="margin-top:-5px; font-size:10px; color:#222;">Logout</p></button>
           </div>
           <div id="get-button-data"></div>
       </div>

       <div class ="box" style="background-color:white;">
           <div class="head">
               <h1> True Amount Left <h1>
           </div>
           <div class = "body">
                <div id="left-to-spend">
                    loading
                </div>
                <div id="string">
                    <div id="overall-stats"></div>
                    estimated total balance after spendings this month
                </div>
           </div>
       </div>

       <div class ="box" style="background-color:white;">
           <div class="head">
               <h1> Monthly Income <h1>
           </div>
           <div class = "body">
               <div id="monthly-income" style="cursor: pointer;">
                   loading
               </div>
                <div id="string"> amount of money received this month so far </div>
           </div>
       </div>

       <div class="box">
           <div class = "body">
               <div class = "head">
                   <h1> Monthly Spending Buckets </h1>
               </div>
               <div class = "wrap">
                   <div class = "bucket-heading" id = "total-spending">
                       loading
                   </div>
                   <div class="circle" id="Variable Bills">
                       <div class="perc">
                           <div class="perc-value"></div>
                       </div>
                       <span class="top"></span>
                       <span class="bottom"></span>
                   </div>
                   <div class="circle" id="Eating Out">
                       <div class="perc">
                           <div class="perc-value"></div>
                       </div>
                       <span class="top"></span>
                       <span class="bottom"></span>
                   </div>
                   <div class="circle" id="Entertainment">
                       <div class="perc">
                           <div class="perc-value"></div>
                       </div>
                       <span class="top"></span>
                       <span class="bottom"></span>
                   </div>
                   <div class="circle" id="Groceries">
                       <div class="perc">
                           <div class="perc-value"></div>
                       </div>
                       <span class="top"></span>
                       <span class="bottom"></span>
                   </div>
                   <div class="circle" id="Other Spending">
                       <div class="perc">
                           <div class="perc-value"></div>
                       </div>
                       <span class="top"></span>
                       <span class="bottom"></span>
                   </div>
                   <div class="circle" id="Shopping">
                       <div class="perc">
                           <div class="perc-value"></div>
                       </div>
                       <span class="top"></span>
                       <span class="bottom"></span>
                   </div>
                   <div class="circle" id="Transportation">
                       <div class="perc">
                           <div class="perc-value"></div>
                       </div>
                       <span class="top"></span>
                       <span class="bottom"></span>
                   </div>
               </div>
           </div>
       </div>

        <div class ="box">
            <div class="head">
                <h1> Emergency Savings Goal </h1>
            </div>
            <div class = "body">
                <div id = "savings-account">
                    <div class="wrap-savings">
                        <div class="circle-savings" id="Emergency Savings">
                            <div class="perc-savings">
                                <div class="perc-value-savings"></div>
                            </div>
                            <span class="top-savings"></span>
                            <span class="bottom-savings"></span>
                        </div>
                    </div>
                </div>
                <div class = "monthNumber" id="string"> </div>
            </div>
        </div>

        <div id="menu">
            <div class="box">
                <button class="headerbutton" style="margin:10px 10px 10px 14px;" id="threeMonths"><span style="font-size:18px; color:#222;">3 Months</span></button>
                <button class="headerbutton" style="margin:10px 10px;" id="sixMonths"><span style="font-size:18px; color:#222;">6 Months</span></button>
                <button class="headerbutton" style="margin:10px 10px;" id="nineMonths"><span style="font-size:18px; color:#222;">9 Months</span></button>
                <button class="headerbutton" style="margin:10px 10px;" id="twelveMonths"><span style="font-size:18px; color:#222;">12 Months</span></button>
            </div>
        </div>

        <div class ="box">
            <div class="head">
                <h1> Monthly Fixed Bills</h1>
            </div>
            <div class = "body">
                <div id = "monthly-fixed-bills">
                    <div class = "bucket-heading" id = "total-bills">
                        loading
                    </div>
                    <div class="wrap-bills">
                        <div class="circle-bills" id="Housing">
                            <div class="perc-bills">
                                <div class="perc-value-bills"></div>
                            </div>
                            <span class="top-bills">Housing</span>
                            <span class="bottom-bills"></span>
                        </div>

                        <div class="circle-bills" id="Loans">
                            <div class="perc-bills">
                                <div class="perc-value-bills"></div>
                            </div>
                            <span class="top-bills">Loans</span>
                            <span class="bottom-bills"></span>
                        </div>
                        <div class="circle-bills" id="Insurance">
                            <div class="perc-bills">
                                <div class="perc-value-bills"></div>
                            </div>
                            <span class="top-bills">Insurance</span>
                            <span class="bottom-bills"></span>
                        </div>
                        <div class="circle-bills" id="Subscriptions">
                            <div class="perc-bills">
                                <div class="perc-value-bills"></div>
                            </div>
                            <span class="top-bills">Subscriptions</span>
                            <span class="bottom-bills"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
        <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
        <script src="https://www.gstatic.com/firebasejs/4.1.4/firebase.js"></script>

        <script>
            $(document).ready(function() {
                var defaultTimePeriod = 6;
                var textDisplay = '';
                var plaidHandler = Plaid.create({
                    apiVersion: 'v2',
                    clientName: 'Konviv MVP',
                    env: 'development',
                    product: ['transactions'],
                    key: '9f4ef21fdb37b5c0e3f80290db7716',
                    onSuccess: function(public_token) {
                        // alert('calling /get_access_token...')
                        $.post('/get_access_token', {
                            token: sessionStorage.getItem("token"),
                            publicToken: public_token,
                            userId: sessionStorage.getItem("userId")
                        }, function() {
                            location.href="index.ejs";
                        });
                    }
                });
                var firebaseConfig = {
                    apiKey: "AIzaSyASB9RhrUzNme-rGkVrzEXmF3nL7PwMgvQ",
                    authDomain: "konvivandroid.firebaseapp.com",
                    databaseURL: "https://konvivandroid.firebaseio.com",
                    projectId: "konvivandroid",
                    storageBucket: "konvivandroid.appspot.com",
                    messagingSenderId: "41760220514"
                };

                firebase.initializeApp(firebaseConfig);
                // checkLoginStatus();

                function checkLoginStatus() {
                    console.log("refresh check");
                    firebase.auth().onAuthStateChanged(function(user) {
                        if (!user){
                            sessionStorage.clear();
                            location.href="/";
                        }
                    });
                }

                function checkTokenStatus(success) {
                    if (success) {
                        user.getIdToken(true).then(function(token) {
                            sessionStorage.setItem('firebaseAccessToken', token);
                        })
                    } else {
                        firebase.auth().signOut();
                        sessionStorage.clear();
                        location.href="/";
                    }
                }

                $.post('/reset_bucket_names', {
                    token: sessionStorage.getItem('firebaseAccessToken')
                });




               $('#get-link-btn').on('click', function(e) {
                   plaidHandler.open()
               });

               $('.logout-btn').on('click', function(e) {
                   firebase.auth().signOut();
                //    alert("logging out");
                   sessionStorage.clear();
                   location.href='/';
                });

                $('#get-accounts-btn').on('click', function(e) {
                    if ($('#get-button-data').is(':visible') && textDisplay == "account") {
                        textDisplay = "";
                        return $('#get-button-data').slideUp();
                    }
                    console.log('accounts called...')

                    $.post('/accounts', {
                        token: sessionStorage.getItem('firebaseAccessToken')
                    }, function(data) {
                        console.log(data)

                        if (data.error != null) {
                            if (data.message == 'Failed to authenticate token.') {
                                checkTokenStatus(false);
                            }
                            // Format the error
                            var errorHtml = '<div class="inner"><p>' +
                            '<strong>' + data.error.error_code + ':</strong> ' +
                            data.error.error_message + '</p></div>';
                            if (data.error.error_code === 'PRODUCT_NOT_READY') {
                                // Add additional context for `PRODUCT_NOT_READY` errors
                                errorHtml += '<div class="inner"><p>The PRODUCT_NOT_READY ' +
                                'error is returned when a request to retrieve Transaction data ' +
                                'is made before Plaid finishes the <a href="https://plaid.com/' +
                                'docs/quickstart/#transaction-data-with-webhooks">initial ' +
                                'transaction pull.</a></p></div>';
                            }
                            // Render the error
                            $('#get-button-data').slideUp(function() {
                                $(this).slideUp(function() {
                                    $(this).html(errorHtml).slideDown();
                                });
                            });
                        } else {
                            checkTokenStatus(true);
                            console.log("Account info: " + data)
                            textDisplay = "account";
                            $('#get-button-data').slideUp(function() {
                                var html = '<div class="inner">';
                                // html += '<p><b>BASIC INFORMATION ABOUT YOUR BANK ACCOUNT<b></p> <br>';
                                html += '<p><strong>Bank Account: </strong> ' + data.institution.name + '</p>';
                                html += '<p>Billed products: ' + data.item.billed_products.join(', ') + '</p>';
                                html += '<p>Available products: ' + data.item.available_products.join(', ') + '</p>';
                                html += '<br>';
                                data.accounts.forEach(function(account, idx) {
                                    // html += '<div class="inner">';
                                    html += '<strong>' + account.name +
                                    ' $' + (account.balances.current) + '</strong><br>';
                                    html += account.subtype + ' ' + account.mask;
                                    // html += '</div>';
                                    html += '<br>';
                                });
                                html += '</div>';

                                $(this).html(html).slideDown();
                            });
                        }
                    });
                });

                // $('#get-item-btn').on('click', function(e) {
                //     if ($('#get-button-data').is(':visible') && textDisplay == "item") {
                //         textDisplay = "";
                //         return $('#get-button-data').slideUp();
                //     }
                //     $.post('/item', {
                //         token: sessionStorage.getItem('token')
                //     }, function(data) {
                //         textDisplay = "item";
                //         $('#get-button-data').slideUp(function() {
                //             if (data.error) {
                //                 $(this).html('<p>' + data.error + '</p>').slideDown();
                //             } else {
                //                 var html = '<div class="inner">';
                //                 // html += '<p><b>BASIC INFORMATION ABOUT YOUR BANK ACCOUNT<b></p> <br>';
                //                 html += '<p><b>Bank Account</b> ' + data.institution.name + '</p>';
                //                 // html += '<p>Billed products: ' + data.item.billed_products.join(', ') + '</p>';
                //                 // html += '<p>Available products: ' + data.item.available_products.join(', ') + '</p>';
                //                 html += '</div>';
                //                 $(this).html(html).slideDown();
                //             }
                //         });
                //     });
                // });

                $('#get-transactions-btn').on('click', function(e) {
                    if ($('#get-button-data').is(':visible') && textDisplay == "transactions") {
                        textDisplay = "";
                        return $('#get-button-data').slideUp();
                    }
                    $.post('/transactions', {
                        token: sessionStorage.getItem('token')
                    }, function(data) {
                        textDisplay = "transactions";
                        if (data.error != null) {
                            if (data.message == 'Failed to authenticate token.') {
                                checkTokenStatus(false);
                            }
                            // Format the error
                            var errorHtml = '<div class="inner"><p>' +
                            '<strong>' + data.error.error_code + ':</strong> ' +
                            data.error.error_message + '</p></div>';
                            if (data.error.error_code === 'PRODUCT_NOT_READY') {
                                // Add additional context for `PRODUCT_NOT_READY` errors
                                errorHtml += '<div class="inner"><p>The PRODUCT_NOT_READY ' +
                                'error is returned when a request to retrieve Transaction data ' +
                                'is made before Plaid finishes the <a href="https://plaid.com/' +
                                'docs/quickstart/#transaction-data-with-webhooks">initial ' +
                                'transaction pull.</a></p></div>';
                            }
                            // Render the error
                            $('#get-button-data').slideUp(function() {
                                $(this).slideUp(function() {
                                    $(this).html(errorHtml).slideDown();
                                });
                            });
                        } else {
                            checkTokenStatus(true);
                            $('#get-button-data').slideUp(function() {
                                var html = '';
                                data.transactions.forEach(function(txn, idx) {
                                    //code for displaying category for each transaction
                                    html += '<div class="inner">';
                                    html += '<strong>' + txn.name + '</strong><br>';
                                    html += '<em>' + txn.bucket + '</em><br>';
                                    html += '$' + txn.amount + '<br>';
                                    html += '<em>' + txn.date + '</em>';
                                    html += '</div>';
                                });
                                $(this).slideUp(function() {
                                    $(this).html(html).slideDown();
                                });
                            });
                        }
                    });
                });
            });
        </script>
    </body>
</html>
