<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Konviv MVP</title>
<link rel="stylesheet" type="text/css" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div id="banner">
        <h1> K O N V I V </h1>
        <p id="intro"> 
          
        </p>
<!--     <p id="steps">
      Great - you just created an Item! The server was successfully able to exchange the public_token for an access_token.
      Below are a few options - you can get account data, retrieve information about the Item itself, or pull transaction data.
    </p> -->
    </div>


    <div id = "container">
        <button id="link-btn">Link Account</button>
        <button id="buckets-btn">Buckets</button>
        <button id="menu-btn">Menu</button>
        <button class="logout-btn">Log Out</button>
    </div>

    
    <div id="container">
        <p> We are here to help you manage your finances. </p>

         <p> Please select "Link Account" if you have not yet input your bank account information. </p> 

         <p> please select "Buckets" to see how we have sorted your bank finances </p>

         <p> Please select "Menu" to see a break down of your transactions in the past month  </p>
        
    </div>



<!--     NON HARD CODED DATA  -->
   <!--  <div id="buckets">
        <div class = "box">
            <button id="get-buckets-btn">Buckets</button>
        </div>
        <div class = "box">
            <button class="logout-btn">Log Out</button>
        </div>
        <div>
            <div class="load-bar-frame">
                <div class="buckets-key" class="load-bar">Income</div>
            </div>
        </div>
        <div>
            <div class="load-bar-frame">
                <div class="buckets-key" class="load-bar">Bills</div>
            </div>

            <div class="load-bar-frame">
                <div class="buckets-key" class="load-bar">Eating Out</div>
            </div>
            <div class="load-bar-frame">
                <div class="buckets-key" class="load-bar">Entertainment</div>
            </div>
            <div class="load-bar-frame">
                <div class="buckets-key" class="load-bar">Subscriptions</div>
            </div>
        </div>
        <div>
            <div class="load-bar-frame">
                <div id="Groceries" class="load-bar">Groceries</div>
            </div>
            <div class="load-bar-frame">
                <div id="Shopping" class="load-bar">Shopping</div>
            </div>
            <div class="load-bar-frame">
                <div id="Transportation" class="load-bar">Transportation</div>
            </div>
            <div class="load-bar-frame">
                <div id="General Spending" class="load-bar">General Spending</div>
            </div>
        </div>
    </div> -->










                <!--     BEGINNING OF HARD CODED DATA     -->

    <div id="buckets">
        <div class = "box">
            <button id="get-buckets-btn">Buckets</button>
        </div>
        <div class = "box">
            <button class="logout-btn">Log Out</button>
        </div>
        <div class="box">
            <div class="wrap">
              <div class="circle" id="Income">
                <div class="perc">
                  <div class="perc-value"></div>
                </div>
                <span class="top"></span>
                <span class="bottom"></span>
              </div>
              <div class="circle" id="Bills">
                <div class="perc">
                  <div class="perc-value"></div>
                </div>
                <span class="top"></span>
                <span class="bottom"></span>
              </div>
              <div class="circle" id="Eating Out">
                <div class="perc">
                  <div class="perc-value"></div>
                </div>
                <span class="top"></span>
                <span class="bottom"></span>
              </div>
              <div class="circle" id="Entertainment">
                <div class="perc">
                  <div class="perc-value"></div>
                </div>
                <span class="top"></span>
                <span class="bottom"></span>
              </div>
              <div class="circle" id="Subscriptions">
                <div class="perc">
                  <div class="perc-value"></div>
                </div>
                <span class="top"></span>
                <span class="bottom"></span>
              </div>
              <div class="circle" id="Groceries">
                <div class="perc">
                  <div class="perc-value"></div>
                </div>
                <span class="top"></span>
                <span class="bottom"></span>
              </div>
              <div class="circle" id="Shopping">
                <div class="perc">
                  <div class="perc-value"></div>
                </div>
                <span class="top"></span>
                <span class="bottom"></span>
              </div>
              <div class="circle" id="Transportation">
                <div class="perc">
                  <div class="perc-value"></div>
                </div>
                <span class="top"></span>
                <span class="bottom"></span>
              </div>
              <div class="circle" id="General Spending">
                <div class="perc">
                  <div class="perc-value"></div>
                </div>
                <span class="top"></span>
                <span class="bottom"></span>
              </div>
            </div>
        </div>




<!-- 
        <div>
            <div class="load-bar-frame">
                <div id="Income" class="load-bar"></div>                    
                <div id=fillPercent></div>

            </div>
        </div>
        <div>
            <div class="load-bar-frame">
                <div id="Bills" class="load-bar"></div>

            </div>
            <div class="load-bar-frame">
                <div id="Eating Out" class="load-bar"></div>
            </div>
            <div class="load-bar-frame">
                <div id="Entertainment" class="load-bar"></div>
            </div>
            <div class="load-bar-frame">
                <div id="Subscriptions" class="load-bar"></div>
            </div>
        </div>
        <div>
            <div class="load-bar-frame">
                <div id="Groceries" class="load-bar"></div>
            </div>
            <div class="load-bar-frame">
                <div id="Shopping" class="load-bar"></div>
            </div>
            <div class="load-bar-frame">
                <div id="Transportation" class="load-bar"></div>
            </div>
            <div class="load-bar-frame">
                <div id="General Spending" class="load-bar"></div>
            </div>
        </div> -->
    </div>






    <div id="menu">
        <div class="box">
            <button id="get-accounts-btn">Get Accounts</button>
            <div id="get-accounts-data"></div>
        </div>
        <div class="box">
            <button id="get-item-btn">Get Item</button>
            <div id="get-item-data"></div>
        </div>
        <div class="box">
            <button id="get-transactions-btn">Get Transactions</button>
            <div id="get-transactions-data"></div>
        </div>
        <div class = "box">
            <button class="logout-btn">Log Out</button>
        </div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>


<script>
    $.get('/log_in_status', function(data) {
        logOutSuccess(!data.login);
    });
    function logOutSuccess(logout) {
        if (logout == true) {
            location.href="/";
            console.log("currently logged out");
            // alert("currently logged out");
        } else {
            console.log('unable to log out');
        }
    };

    (function($) {
        var handler = Plaid.create({
            apiVersion: 'v2',
            clientName: 'Konviv Android Demo',
            env: 'development',
            product: ['transactions'],
            key: '9f4ef21fdb37b5c0e3f80290db7716',
            onSuccess: function(public_token) {
                $.post('/get_access_token', {
                    public_token: public_token
                }, function() {
                    $('#container').fadeOut('fast', function() {
                        $('#intro').hide();
                        $('#menu').fadeIn('slow');
                    });
                });
            },
        });

        $('#link-btn').on('click', function(e) {
            handler.open();
        });

        $('#buckets-btn').on('click', function(e) {
            $('#container').fadeOut('fast', function() {
                $('#intro').hide();
                $('#buckets').fadeIn('slow');
            });
        });

        $('#menu-btn').on('click', function(e) {
            $('#container').fadeOut('fast', function() {
                $('#intro').hide();
                $('#menu').fadeIn('slow');
            });
        });

        $('.logout-btn').on('click', function(e) {
            console.log("logging out...");
            $.get('/log_out', function(data) {
                logOutSuccess(data.logout)
            });
        });

        $('#get-accounts-btn').on('click', function(e) {

            $.get('/accounts', function(data) {
                $('#get-accounts-data').slideUp(function() {
                    var html = '';
                    data.accounts.forEach(function(account, idx) {
                        html += '<div class="inner">';
                        html += '<strong>' + account.name +
                        ' $' + (account.balances.available != null ? account.balances.available : account.balances.current) + '</strong><br>';
                        html += account.subtype + ' ' + account.mask;
                        html += '</div>';
                    });

                    $(this).html(html).slideDown();
                });
            });
        });

        $('#get-item-btn').on('click', function(e) {
            $.post('/item', function(data) {
                $('#get-item-data').slideUp(function() {
                    if (data.error)
                    $(this).html('<p>' + data.error + '</p>').slideDown();
                    else {
                        var html = '<div class="inner">';
                        html += '<p>Here\'s some basic information about your Item:</p>';
                        html += '<p>Institution name:' + data.institution.name + '</p>';
                        html += '<p>Billed products: ' + data.item.billed_products.join(', ') + '</p>';
                        html += '<p>Available products: ' + data.item.available_products.join(', ') + '</p>';
                        html += '</div>';
                        $(this).html(html).slideDown();
                    }
                });
            });
        });

        $('#get-transactions-btn').on('click', function(e) {
            $.post('/transactions', function(data) {
                if (data.error != null) {
                    // Format the error
                    var errorHtml = '<div class="inner"><p>' +
                    '<strong>' + data.error.error_code + ':</strong> ' +
                    data.error.error_message + '</p></div>';

                    if (data.error.error_code === 'PRODUCT_NOT_READY') {
                        // Add additional context for `PRODUCT_NOT_READY` errors
                        errorHtml += '<div class="inner"><p>The PRODUCT_NOT_READY ' +
                        'error is returned when a request to retrieve Transaction data ' +
                        'is made before Plaid finishes the <a href="https://plaid.com/' +
                        'docs/quickstart/#transaction-data-with-webhooks">initial ' +
                        'transaction pull.</a></p></div>';
                    }
                    // Render the error
                    $('#get-transactions-data').slideUp(function() {
                        $(this).slideUp(function() {
                            $(this).html(errorHtml).slideDown();
                        });
                    });
                } else {
                    $('#get-transactions-data').slideUp(function() {
                        var html = '';
                        data.transactions.forEach(function(txn, idx) {
                            //code for displaying category for each transaction
                            var category = '';
                            if (txn.category) {
                                category = txn.category[0]
                                for (var i = 1; i < txn.category.length; i++) {
                                    category = category + ", " + txn.category[i]
                                }
                            }
                            else {
                                category = 'Uncategorized'
                            }
                            html += '<div class="inner">';
                            html += '<strong>' + txn.name + '</strong><br>';
                            html += '<em>' + category + '</em><br>';
                            html += '$' + txn.amount + '<br>';
                            html += '<em>' + txn.date + '</em>';
                            html += '</div>';
                        });

                        $(this).slideUp(function() {
                            $(this).html(html).slideDown();
                        });
                    });
                }
            });
        });

        // Buckets Button
        $('#get-buckets-btn').click(function(e){
            $(this).slideDown(function() {

                console.log("calling get-buckets-btn");
                // RESTful call to index.js server using get function
                $.get('/buckets', function(data) {
                    // Catching error
                    console.log(data);
                    if (data.error != null) {
                        // Format the error
                        var errorHtml = '<div class="inner"><p>' +
                        '<strong>' + data.error.error_code + ':</strong> ' +
                        data.error.error_message + '</p></div>';
                        // Render the error
                        $('#get-transactions-data').slideUp(function() {
                            $(this).slideUp(function() {
                                $(this).html(errorHtml).slideDown();
                            });
                        });
                        // Using for loop to pull information for each bucket from data
                    } else {

                        /* i = iterator for buckets-key array */
                        //  var i = 0;
                    for (var key in data) {
                            var fillPercent = 0;
                            // Accounting for divide-by-zero error
                            if (data[key]['Total'] > 0) {
                                fillPercent = (1 - data[key]['Spending']/data[key]['Total'])*100
                            }

                          newPercent = fillPercent;
                            //var kiki = '[id="' + key + '"]';
                            //$(kiki).html(newPercent);


                            //Printing out bucket information to console
                            // console.log("Bucket: " + key + ", spending amount: " + data[key]['Spending']
                            // + "/" + data[key]['Total'] + " = " + fillPercent);
                            // console.log( 'The Key is: ' + key + " and the element is", $('#' + key).html());
                            // console.log("KeyP: " + key + " Data: " + data[key]['Spending']);



                            // Draws out bucket
                            // # +key makes a call to the
                             var selector = '[id="' + key + '"]';
                             //console.log( "Selector: " + selector);
                           
                            //$(selector).css({background: "linear-gradient(to right, #000000 "+fillPercent+"%,#feffff "
                            //+fillPercent+"%,#feffff 100%)"});
                            //
                            //$( '[id="' + key + '"] ').html( key);



console.log(key + ": " + newPercent);
 $(selector)
    .find(".top").text(key).end()
    .find(".bottom").text(newPercent + "%").end()
    .find(".perc-value").css("width", newPercent + "%");
                            /* Load the key so it is not hard coded */
                            // $(".buckets-key")[i].textContent = key;  i++;

                        }
                    }
                });
            });
        });
    })(jQuery);
</script>
</body>
</html>
